<h3>viow Offer details</h3>

    <ul class="list-group list-group-flush">
        <label><b>nom offer: </b></label>
        <li class="list-group-item">{{offer.name}}</li>
        <label><b>diplome offer: </b></label>
        <li class="list-group-item">{{offer.diplome}}</li>
        <label><b>description offer: </b></label>
        <li class="list-group-item">{{offer.description}}</li>
        <label><b>condition offer: </b></label>
        <li class="list-group-item">{{offer.cond}}</li>
        <label><b>duree offer: </b></label>
        <li class="list-group-item">{{offer.duree}}</li>
        <label><b>mobilite  </b></label>
        <li class="list-group-item">{{offer.mobilite}}</li>
        <label><b>destination offer: </b></label>
        <li class="list-group-item">{{offer.destination}}</li>
        <label><b>domaine Offer: </b></label>
        <li class="list-group-item"> {{offer.domaine}}</li>
        
       
      </ul>
    



