<h2>Liste offres</h2>
<button  routerLink="/addoffer" routerLinkActive="active" class="btn btn-primary" type="button">Créer une Offre</button>

<table class = "table table-striped">
    <thead>
        <tr>
            <th>nom offre</th>
            <th> diplome</th>
            <th>domaine</th>
            <th>duree</th>
            <th>mobilite</th>
            <th>destination</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let offer of offers">
            <td>{{offer.name}}</td>
            <td>{{offer.diplome}}</td>
            <td>{{offer.domaine}}</td>
            <td>{{offer.duree}}</td>
            <td>{{offer.mobilite}}</td>
            <td>{{offer.destination}}</td>
           
            
            
            <td>
                <button (click)="updateOffer(offer.id)" class="btn btn-primary" type="button">update</button>
                <button (click)="deleteOffer(offer.id)" class="btn btn-danger" >delete</button>
                <button (click)="detailOffer(offer.id)" class="btn btn-danger" >view</button>
            </td>
        </tr>
            
    </tbody>
</table>
<router-outlet></router-outlet>