<h3>view Candidature details</h3>

    <ul class="list-group list-group-flush">
        <label><b>nom </b></label>
        <li class="list-group-item">{{cond.nom}}</li>
        <label><b>prenom </b></label>
        <li class="list-group-item">{{cond.prenom}}</li>
        <label><b>classe </b></label>
        <li class="list-group-item">{{cond.classecourante}}</li>
        <label><b>Bac </b></label>
        <li class="list-group-item">{{cond.moyenneBac}}</li>
        <label><b>moyenne 1ere </b></label>
        <li class="list-group-item">{{cond.moyennepremiere}}</li>
        <label><b>moyenne 2eme </b></label>
        <li class="list-group-item">{{cond.moyennedeuxieme}}</li>
        <label><b>moyenne 3eme </b></label>
        <li class="list-group-item">{{cond.moyennetroixieme}}</li>
        <label><b>niveau Anglais </b></label>
        <li class="list-group-item"> {{cond.nivAng}}</li>
        <label><b>niveau Français </b></label>
        <li class="list-group-item">{{cond.nivFR}}</li>
        <label><b>credits </b></label>
        <li class="list-group-item">{{cond.credits}}</li>
       
      </ul>
    
